@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/kz6ucs0HhP4"
            title="Tequilas Restaurant Video" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    <h1 class="display-4 mt-4">Bienvenido a Tequilas Restaurant by: ARZ</h1>
    <p class="lead">Descubre una experiencia auténtica de la cocina mexicana con sabores tradicionales y un ambiente acogedor.</p>
    <p>Te invitamos a relajarte y disfrutar de la mejor comida mexicana, hecha con pasión y frescura. ¡Te esperamos!</p>
</div>
