@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>

    En TequilasRestaurant nos tomamos muy en serio la privacidad de nuestros clientes. Esta Política de Privacidad describe cómo recopilamos, usamos y protegemos su información personal cuando visita nuestro sitio web o realiza una compra.

    1. Información que Recopilamos
    Datos personales: Nombre, dirección de envío, correo electrónico, teléfono y métodos de pago.
    Datos de navegación: IP, tipo de navegador, páginas visitadas, y cookies para mejorar la experiencia del usuario.
    2. Uso de la Información
    Utilizamos su información para procesar pedidos, proporcionar atención al cliente y enviarle notificaciones importantes sobre su compra.

    3. Divulgación de Información
    Compartimos su información solo con proveedores de servicios (pagos, envíos) y en caso de requerimientos legales.

    4. Seguridad
    Tomamos medidas para proteger su información, pero no podemos garantizar una seguridad absoluta.

    5. Sus Derechos
    Puede acceder, corregir o solicitar la eliminación de su información en cualquier momento. Para ello, contáctenos a través del correo tequilasrestaurant@gmail.com.

    6. Retención de Datos
    Mantendremos su información solo el tiempo necesario para cumplir con los fines descritos en esta política.

    7. Cambios a la Política
    Nos reservamos el derecho de modificar esta política. Los cambios serán publicados en esta página con la nueva fecha de entrada en vigor.

    8. Contacto
    Si tiene preguntas sobre esta política, puede escribirnos a tequilasrestaurant@gmail.com

</p>
